<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>

        <div class="content-items" (click)="coffeeOnClick()">
            <div class="card" id="coffee-card" style="width: 18rem;">
                <img src="../../assets/coffee.png" class="card-img-top" alt="coffee">
                <div class="card-body">
                  <h5 class="card-title">Kaffee</h5>
                  <p class="card-text">Hier geht es zu den verschiedenen Kaffesorten und zugehörigen Informationen wie der Zubereitungszeit.</p>
                </div>
            </div>
        </div>

        <div class="content-items">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/coffee.png" class="card-img-top" alt="coffee">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </body>
</html>