.content-items {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#coffee-card {
    background-color: rgba(103, 103, 255, 0.527);
    border-color: rgba(103, 103, 255, 0.527);
    color: black;
}